<nav class="nav-wrapper">
    <div class="brand">
      Booksmart
    </div>
  
    <div class="nav-links">
      <a routerLink="/home" routerLinkActive="active">
        <span class="icon">🏠</span>
        <span class="label">Inicio</span>
      </a>
      <a routerLink="/services" routerLinkActive="active">
        <span class="icon">📅</span>
        <span class="label">Servicios</span>
      </a>
      <a routerLink="/profile" routerLinkActive="active">
        <span class="icon">👤</span>
        <span class="label">Perfil</span>
      </a>
    </div>
  </nav>